* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: auto;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
  font-family: 'Proxima Nova Semibold',sans-serif;
  color: #262626;
  text-decoration: none;
}

.navbar__small-text {
  display: block;
  font-size: 17px;
  color: #bab5b5;
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #802F19;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY();
          transform: translateY();
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  height: 80px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #802F19;
  margin: 2px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 23px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.logo__description {
  display: block;
  font-size: 15px;
  color: #bab5b5;
}

body {
  font-family: 'Proxima Nova Light',sans-serif;
  color: #262626;
}

.button-o {
  color: #802F19;
  border: 3px solid #802F19;
  padding: 17px 22px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.button {
  border: none;
  border-radius: 50px 50px 50px 50px;
  padding: 25px 45px;
  margin-left: 15px;
  text-transform: uppercase;
  background: #08a471;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #08a471), color-stop(95%, #fdfb2d));
  background: linear-gradient(180deg, #08a471 15%, #fdfb2d 95%);
  color: #ffffff;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.hero {
  background: #ffff url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 270px;
}

.hero__title {
  font-size: 40px;
  margin-top: 150px;
  margin-left: 15px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */