* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
  font-family: 'Proxima Nova Semibold',sans-serif;
  color: #262626;
  text-decoration: none;
}

.navbar__small-text {
  display: block;
  font-size: 17px;
  color: #bab5b5;
  text-decoration: none;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: #125230;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 1;
}

.menu_active {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 1;
}

.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #ffff;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  height: 80px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #125230;
  margin: 3px 0;
}

.logo__text {
  display: block;
  margin-bottom: 5px;
  font-size: 23px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.logo__description {
  display: block;
  font-size: 15px;
  color: #bab5b5;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 60px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body {
  font-family: 'Proxima Nova Light',sans-serif;
  color: #262626;
}

img {
  max-width: 100%;
}

.section-tittle {
  padding: 8px 0;
  margin: 0;
  font-size: 36px;
  font-family: 'Proxima Nova Semibold',sans-serif;
  text-align: center;
}

.button-o {
  color: #125230;
  border: 3px solid #125230;
  padding: 17px 22px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.button {
  text-decoration: none;
  border: none;
  border-radius: 50px 50px 50px 50px;
  padding: 25px 45px;
  margin-left: 15px;
  text-transform: uppercase;
  background: #08a471;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #08a471), color-stop(95%, #fdfb2d));
  background: linear-gradient(180deg, #08a471 15%, #fdfb2d 95%);
  color: #ffffff;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.button-add {
  padding: 6px;
  width: 125px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f77b07;
  border: none;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.button-like {
  background-color: #125230;
  width: 35px;
  padding: 2px;
  border: none;
}

.button-s {
  border: none;
  height: 80px;
  padding: 25px 45px;
  text-transform: uppercase;
  background: #08a471;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #08a471), color-stop(95%, #fdfb2d));
  background: linear-gradient(180deg, #08a471 15%, #fdfb2d 95%);
  color: #ffffff;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #e3f707;
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
    width: 100%;
  }
}

.hero {
  background: #ffff url("../img/hero/hero-bg.jpg") no-repeat center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 170px;
  margin-top: 80px;
}

.hero__title {
  font-size: 40px;
  margin-top: 150px;
  margin-left: 15px;
  color: #ffffff;
}

.offer {
  padding-top: 60px;
  padding-bottom: 30px;
}

.offer-block {
  background-color: #c2fcd6;
  padding: 120px;
  margin-top: -150px;
}

.offer__tittle {
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Proxima Nova Semibold',sans-serif;
  margin-bottom: 20px;
}

.offer__subtittle {
  display: block;
  font-size: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 900px;
}

.form__input {
  width: 100%;
  margin-right: 30px;
}

@media (max-width: 760px) {
  .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__input {
    padding-left: 0;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
  }
  .offer-block {
    padding: 50px;
    height: 50%;
  }
  .offer__tittle {
    text-align: center;
  }
  .offer__subtittle {
    text-align: center;
  }
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f2ff9e;
  padding: 20px;
}

.features-block__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  font-size: 22px;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

@media (max-width: 576px) {
  .features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__card {
  margin-bottom: 30px;
}

.catalog-card {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  position: relative;
  -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
}

.catalog-card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.catalog-card__button {
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px;
  height: 30px;
  border: none;
}

.catalog-card__tag {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(18, 82, 48, 0.8);
  padding: 10px;
}

.catalog-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.catalog__link {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}

@media (max-width: 991px) {
  .catalog-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery {
  background-color: #f6f7f9;
  padding-bottom: 20px;
}

.factory-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.factory-block__text {
  margin-left: 70px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 20px;
}

.factory-block__image {
  margin: 20px 0;
}

@media (max-width: 990px) {
  .factory-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .factory-block__text {
    margin-left: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.contacts {
  background-color: #f6f7f9;
}

.contacts-block {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-block__item {
  text-align: center;
}

.contacts__image {
  margin-bottom: 20px;
}

.contacts__text {
  font-size: 20px;
}

.contacts__link {
  text-decoration: none;
  color: #262626;
}

.contacts__address {
  font-style: normal;
}

@media (max-width: 768px) {
  .contacts .contacts-block__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacts .contacts__address {
    max-width: 200px;
    margin: auto;
  }
}

.questions-block {
  padding: 40px 0;
  max-width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.questions__tittle {
  font-size: 30px;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.questions__link {
  font-size: 24px;
  color: #125230;
}

.footer {
  padding: 40px 0;
  background-color: #262626;
  color: #ffffff;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer a {
  color: #ffffff;
}

.footer__tittle {
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.footer__subtittle {
  display: block;
  margin-bottom: 48px;
}

.footer__copy {
  color: #767676;
}

.footer__pay-logo {
  margin: 12px;
}

.footer__contacts {
  text-align: right;
}

.footer__phone {
  text-decoration: none;
  display: block;
  margin-bottom: 19px;
  font-size: 20px;
  font-family: 'Proxima Nova Semibold',sans-serif;
}

.footer__mail {
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.footer-social__link {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__contacts {
    margin-top: 30px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */