body
    +light
    color: $text-color
img
    max-width: 100%
.section
    &-tittle
        padding: 8px 0
        margin: 0
        font-size: 36px
        +bold
        text-align: center
.button-o
    color: $primary
    border: 3px solid $primary
    padding: 17px 22px
    font-size: 14px
    text-transform: uppercase
    background-color: #fff
    +bold 
    &:hover
            cursor: pointer
    &:focus
            outline: none
.button
    text-decoration: none
    border: none 
    border-radius: 50px 50px 50px 50px 
    padding: 25px 45px
    margin-left: 15px
    text-transform: uppercase
    background: rgb(8,164,113)
    background: linear-gradient(180deg, rgba(8,164,113,1) 15%, rgba(253,251,45,1) 95%)
    color: #ffffff 
    +bold
    &:hover
            cursor: pointer
    &:focus
            outline: none
    &-add
        padding: 6px
        width: 125px
        text-transform: uppercase
        color: #ffffff
        background-color: #f77b07
        border: none
        +bold
        &:hover
            cursor: pointer
        &:focus
            outline: none
    &-like
        background-color: $primary
        width: 35px
        padding: 2px
        border: none
        &:hover
            cursor: pointer
        &:focus
            outline: none
.button-s
    border: none 
    height: 80px
    padding: 25px 45px
    text-transform: uppercase
    background: rgb(8,164,113)
    background: linear-gradient(180deg, rgba(8,164,113,1) 15%, rgba(253,251,45,1) 95%)
    color: #ffffff
    +bold  
    &:hover
            cursor: pointer
    &:focus
            outline: none
.input
    height: 80px
    padding-left: 30px
    border: 1px solid #e3f707    
    &:focus
            outline: none 
@media  ( max-width:576px )
    .button-o
        font-size: 10px
        width: 100%