body
    +light
    color: $text-color
img
    max-width: 100%
.section
    &-tittle
        font-size: 40px
        +bold
        text-align: center
.button-o
    color: $primary
    border: 3px solid $primary
    padding: 17px 22px
    font-size: 14px
    text-transform: uppercase
    background-color: #fff
    +bold 
.button
    text-decoration: none
    border: none 
    border-radius: 50px 50px 50px 50px 
    padding: 25px 45px
    margin-left: 15px
    text-transform: uppercase
    background: rgb(8,164,113)
    background: linear-gradient(180deg, rgba(8,164,113,1) 15%, rgba(253,251,45,1) 95%)
    color: #ffffff 
    +bold
    &-add
        padding: 6px
        width: 125px
        text-transform: uppercase
        color: #ffffff
        background-color: #f77b07
        border: none
        +bold
    &-like
        background-color: $primary
        width: 35px
        padding: 2px
        border: none
.button-s
    border: none 
    height: 80px
    padding: 25px 45px
    text-transform: uppercase
    background: rgb(8,164,113)
    background: linear-gradient(180deg, rgba(8,164,113,1) 15%, rgba(253,251,45,1) 95%)
    color: #ffffff
    +bold  
.input
    height: 80px
    padding-left: 30px
    border: 1px solid #e3f707     
@media  ( max-width:576px )
    .button-o
        font-size: 10px
        width: 100%